[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = "*"
pillow = "*"
torch = "*"
clip = {git = "https://github.com/openai/CLIP.git"}
flask = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.4"
